/* Style.css*/
 
    h1 { 
        color:#f6511d;
        font-family: sans-serif;
        border-bottom: 1px solid blue;
        }
    blockquote { 
        background-color: lightgray;
        padding: 1rem;
        }
    body{
        
        background-color: #86BBD8;
    }
    h2{
        
        color: #c6cef0;
        padding: 0.5rem;
        
    }
    main{
    background-image: url("images/Repeatingbackground.png");
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    border-style: solid;
    border-radius: 1px;
    width: 80vw;}
    p{padding: 0.5rem; color: white;}
    li{color: white;}
    footer{background-color: #6045ba;}
    img.side {float:right; margin: 0 12px;}
    a:link{color: #08182e;}
    a:visited{color: #A08794;}
    
