*{
			font-family:verdana,tahoma,sans-serif;
		}
body {
  display: grid;
  grid-template-areas:
    "header"
    "controls"
	"button"
	"status"
    "result text"
	"results";
  grid-template-rows: auto auto auto 1fr auto;
  justify-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}
.amiibologo
{
height: 85px;
width: auto;
background: url('../images/Amiibo_logo.png') no-repeat;
background-position: center;
text-indent: -9999px;
}
header h2{font-size: 40px; color: white;}

header{
			grid-area: 'header';
			background-color: red;
 			height:200px;
			width: 100%;
 		}
.widgets {
grid-area: "controls";
  
  margin-bottom: 10px;
  margin-top: 10px;

}
#content {
	grid-area: 'results';
  justify-content: center;
  margin-top: 1em;
}
#searchresults{
	display: flex;
  flex-wrap: wrap;
}
#searchterm,
#filter,
button {
  vertical-align: middle;
}
	#content p
	{
		text-align: center;
		margin-top: 2em;
	}
 		header h1{
 			margin:0;
 			color:rgb(255, 255, 255);
 			text-align:center;
 			font-size:100px;
 			padding-top: 35px;
 		}
 		
 		#status{
			grid-area: 'status';
 			font-style: italic;
			text-align: center;
 			height:32px;
 		}
 		
 		.result {
			display: inline-flex;
			flex-direction: column;
			position: relative;
			justify-content: center;
			height: 400px;
			width: 200px;
			background-color: white;
			border:2px solid red;
			padding:2px;
			margin-left:10px;
			margin-bottom:10px;
		}

		.result img {
			align-self: center;
			height: 130px;
			width: auto;
			object-fit: contain;
			bottom: 2px;
		
		}
		
		.result h3{
			font-size:16px;
			font-weight:bold;
		}
		.result p{font-size: small;}
		#searchterm,

		.result audio{
			width: 130px;
		}
		
		button{
		grid-area: 'button';
		  display : inline-block;
		  cursor : pointer;
		margin-left: auto;
		margin-right: auto;
		  border-style : solid;
		  border-width : 1px;
		  border-radius : 50px;
		  padding : 10px 18px;
		  box-shadow : 0 1px 4px rgba(0,0,0,.6);
		  font-size : 9.5pt;
		  font-weight : bold;
		  color : #fff;
		  text-shadow : 0 1px 3px rgba(0,0,0,.4);
		  font-family : sans-serif;
		  text-decoration : none;
		}
		
		button.red{
			border-color: #000000;
	  		background: #ff241c;
	  		background: linear-gradient(top, #c80000 0%,#8c0000 100%);
		}
		
		button:hover{
			background: #ff241f;
		}
		
		button:active{
			background: #9b0303;
			box-shadow : 0 0 6px rgba(0,0,0,.6);
		}
		
		button:focus {outline:0;}
		
		

