* {
	font-family: verdana, tahoma, sans-serif;
}

body {
	display: grid;
	grid-template-areas:
		"title instructions"
		"search filter"
		"button button"
		"status status"
		"resulttext resulttext"
		"results results"
		"footer footer";
	justify-items: center;
	gap: 3px;

}

.amiibologo {
	height: 200px;
	width: 600px;
	background: url('../images/Amiibo_logo.png') no-repeat;
	background-position: center;
	text-indent: -9999px;
}

#title h2 {
	font-size: 40px;
	color: black;
	text-align: center;
}

#title {
	grid-area: title;
}

.widgets {
	display: inline-block;
	margin-bottom: 10px;
	margin-top: 10px;
}

#instructions {
	grid-area: instructions;
}

#searchterm {
	grid-area: search;
}

#filter {
	grid-area: filter;
}

#result {
	grid-area: resulttext;
}

#searchresults {
	grid-area: results;
	justify-content: center;
	margin-top: 1em;
	display: flex;
	flex-wrap: wrap;
}
.button{grid-area: button;}
#searchterm,
#filter,
button {
	vertical-align: middle;
}

#content p {
	text-align: center;
	margin-top: 2em;
}


#status {
	grid-area: status;
	font-style: italic;
	justify-content: center;
	text-align: center;
	height: 32px;
}

.result {
	display: inline-flex;
	flex-direction: column;
	height: 550px;
	width: 550px;
	background-color: white;
	border: 5px solid red;
	padding: 2px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.result img {
	align-self: center;
	height: 275px;
	width: auto;
	object-fit: contain;
	bottom: 2px;

}

.result h1 {

	font-weight: bold;
}

.result p {
	font-size: 20px;
}

#searchterm,

.result audio {
	width: 130px;
}

button {
	grid-area: button;
	display: inline-block;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-width: 1px;
	border-radius: 50px;
	padding: 10px 18px;

	font-size: 9.5pt;
	font-weight: bold;
	color: #fff;

	font-family: sans-serif;
	text-decoration: none;
}

button.red {
	border-color: #000000;
	background: #ff241c;
	background: linear-gradient(top, #c80000 0%, #8c0000 100%);
}

button:hover {
	background: #ff241f;
}

button:active {
	background: #9b0303;

}

button:focus {
	outline: 0;
}
footer{grid-area: footer;}