*{
			font-family:verdana,tahoma,sans-serif;
		}
body {
  display: grid;
  grid-template-areas:
    "header"
    "controls"
    "status"
    "results";
  grid-template-rows: auto auto auto 1fr;
  justify-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

 		header{
			grid-area: 'header';
 			height:195px;
			width: 100%;
 		}
.widgets {
  display: inline-block;
  margin: 0 1em;
}
#content {
  grid-area: results;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 90%;
  margin-top: 1em;
}
#searchterm,
#limit,
button {
  vertical-align: middle;
}
 		header h1{
 			margin:0;
 			color:blue;
 			text-align:center;
 			font-size:100px;
 			padding-top: 35px;
 		}
 		
 		#status{
 			font-style: italic;
			text-align: center;
 			height:32px;
 		}
 		
 		.result {
			position: relative;
			height: 175px;
			width: 100px;
			float:left;
			border:1px solid gray;
			padding:5px;
			margin-left:10px;
			margin-bottom:10px;
		}

		.result img {
			position: absolute;
			align-self: center;
			width: 80px;
			height: auto;
			left: 5px;
			bottom: 5px;
			display:block;
			
		}
		
		.result span{
			font-size:12px;
			font-weight:bold;
			display:block;
		}
		#searchterm,

		.result audio{
			width: 130px;
		}
		
		button{
		  display : inline-block;
		  cursor : pointer;
		margin-left: auto;
		margin-right: auto;
		  border-style : solid;
		  border-width : 1px;
		  border-radius : 50px;
		  padding : 10px 18px;
		  box-shadow : 0 1px 4px rgba(0,0,0,.6);
		  font-size : 9.5pt;
		  font-weight : bold;
		  color : #fff;
		  text-shadow : 0 1px 3px rgba(0,0,0,.4);
		  font-family : sans-serif;
		  text-decoration : none;
		}
		
		button.green{
			border-color: #8fc800;
	  		background: #8fc800;
	  		background: linear-gradient(top, #8fc800 0%,#438c00 100%);
		}
		
		button:hover{
			background: #8fDD00;
		}
		
		button:active{
			background: #8fFF00;
			box-shadow : 0 0 6px rgba(0,0,0,.6);
		}
		
		button:focus {outline:0;}
		
		

