/* Style.css */
h1{
    color: #0B2545;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    color: #0d0a69;
}
body{
    background-color: rgb(88, 116, 199);
}
p{
    color:#0a2343;
}
li{
    color:#0a2343;
}
a:link{
    color:gold;
}

a:visited{
    color:orange;
}
a:hover{
    color:#f1e3b1;
}
a:focus{
    color:#bf810f;
}
a:active{
color:#9c7a14;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
#whiteout{
    color:white
}
#Centermint{
 text-align: center;
 color: rgb(121, 200, 160);
}

